*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Readex Pro", sans-serif;
}

html,
body {
  overflow-x: hidden !important;
}

.container,
.container-fluid {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  min-height: 100vh;
  background-color: #18191a !important;
}
