.login-page #root {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 20vh 2rem 20px;
  min-height: 100vh;
}

.form-container {
  background-color: white;
  min-width: 300px;
  height: fit-content;
  border-radius: 7px;
  box-shadow: 0 0 30px -8px #4f4f4f;
  padding: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  border: none;
  outline: none;
}

.form-control .label {
  font-size: 20px;
  margin-bottom: 10px;
}

.form-control input {
  height: 30px;
  border-radius: 7px;
  border: 1px solid #aaa;
  outline: none;
  padding: 0.5rem;
}

.form-container > input[type="submit"] {
  padding: 10px 20px;
  background-color: #1877f2;
  color: white;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
}

.about {
  width: 60%;
  height: 80vh;
  padding-top: 10vh;
}

.about h1 {
  color: #1877f2;
  font-size: 25px !important;
  font-weight: bold;
}

.about p {
  margin-top: 20px;
}

.register-link {
  margin-top: 20px;
  width: 100%;
  font-size: 13px;
}
.register-link a {
  color: #42b72a;
}
.form-control .input {
  position: relative;
}
.form-control .input input {
  width: 100%;
}

.form-control .input button {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control .error-msg {
  color: tomato;
  min-height: 25px;
}

@media (max-width: 1024px) {
  body.login-page > #root {
    justify-content: center;
  }
  body.login-page > #root .about {
    display: none;
  }
}

@media (max-width: 344px) {
  .form-container {
    width: 90% !important;
  }
  .login-page #root {
    padding: 20vh 10px 20px;
  }
}
