.newpost-modal-container {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.459);
  width: 100vw;
  height: 100vh;
  z-index: 100025;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: all 300ms linear;
  &.show {
    opacity: 1;
    pointer-events: all;
  }
  .newpost-modal {
    background-color: #242526 !important;
    width: 600px !important;
    min-height: 420px;
    max-height: 575px;
    border-radius: 10px;
    padding-bottom: 20px;
    overflow-y: auto;
    .newpost-modal__header {
      padding-block: 20px;
      position: relative;
      h3 {
        font-size: 25px;
        font-weight: 500;
        text-align: center;
        color: white;
      }
      .close {
        background-color: #4e4f50 !important;
        position: absolute;
        top: 20px;
        right: 25px;
        border: none;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        font-size: 25px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 100ms linear;
        transform-origin: center center;
        &:active {
          transform: scale(0.9);
        }
      }
      border-bottom: 1px solid rgba(107, 107, 107, 0.527);
    }
    .user-info {
      padding: 20px;
      width: fit-content;
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        width: 50px;
        margin-right: 10px;
      }
      h4 {
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        color: white;
      }
    }
    .textarea {
      width: 100%;
      height: 196px;
      border: none;
      outline: none;
      font-size: 20px;
      padding: 0 20px;
      line-height: 33px;
      resize: none;
      background-color: #242526 !important;
      color: #e4e6eb;
      & ~ .img-container {
        position: relative;
        img {
          width: 100%;
          margin: 0 auto 28px;
          display: block;
        }
        h1 {
          color: white;
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          font-size: 37px;
        }
        .delete-img {
          position: absolute;
          top: 10px;
          right: 10px;
          background-color: black;
          border: none;
          outline: none;
          border-radius: 50%;
        }
        &.image-loading {
          min-height: 250px;
        }
      }
    }

    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      width: 90%;
      margin: 0 auto 20px;
      border: 1px solid #e4e6eb;
      border-radius: 5px;
      padding: 15px;
      p {
        color: #e4e6eb;
      }
      .upload-img {
        background: transparent;
        border: none;
        outline: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .icon {
          background-size: auto;
          background-repeat: no-repeat;
          display: inline-block;
          height: 24px;
          width: 24px;
          background-image: url(../images/icon.png);
          background-position: 0 -150px;
        }
        .content {
          color: #e4e4e4;
        }
      }
    }
    .post-button {
      background-color: #1b74e4;
      border-radius: 10px;
      color: white;
      width: 90%;
      height: 40px;
      font-size: 20px;
      font-weight: 600;
      display: block;
      margin-inline: auto;
      border: none;
      transition: all 200ms linear;
      &:active {
        background-color: darken(#1b74e4, 10%) !important;
      }
      &:hover {
        background-color: rgb(58, 136, 231);
      }
      &.disabled {
        background: grey;
        pointer-events: none;
      }
    }
  }
}
