.post-fluid {
  width: 100%;
  display: flex;
  .left-side {
    width: 70%;
    height: 100vh;
    overflow-y: auto;
    background-color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      // height: 100%;
      position: absolute;
      // top: 0;
      max-height: 100%;
      max-width: 100%;
    }
    .close {
      position: fixed;
      top: 20px;
      left: 20px;
      border: none;
      outline: none;
      border-radius: 50%;
      background-color: #18191a;
    }
  }
  .right-side {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    overflow-y: auto;
    header.header {
      justify-content: right !important;
    }
    .author_info {
      display: flex;
      gap: 10px;
      padding: 20px;
      .text {
        color: #e4e4e4;
        h4 {
          font-size: 20px;
        }
        p {
          font-size: 13px;
          opacity: 0.8;
        }
      }
    }
  }
  .post-content {
    width: 100%;
    padding-bottom: 10px;
    line-height: 1.6;
    p {
      color: #e4e6eb;
      width: 100%;
      margin: auto;
      display: block;
      padding-bottom: 15px;
      width: 90%;
      margin: 0 auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      font-size: 16px;
    }
  }
  .reach {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e6eb6d;
    padding-bottom: 10px;
    .likes {
      display: flex;
      gap: 6px;
      .reach-img {
        width: 16px;
        height: 16px;
      }
      .reach-count {
        color: #e4e6eb;
      }
    }
    .comments-count {
      color: #e4e6eb;
      cursor: pointer;
      user-select: none;
    }
  }
  .like-comment {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    gap: 20px;
    position: relative;
    border-bottom: 1px solid #e4e6eb6d;
    padding-bottom: 10px;
    button {
      border: none;
      outline: none;
      background-color: transparent;
      transition: all 300ms linear;
      color: #e4e6eb;
      padding: 8px 25px;
      border-radius: 6px;
      font-size: 17px;
      &:hover {
        background-color: #3a3b3c;
      }
    }
    .reacts {
      display: flex;
      gap: 10px;
      align-items: center;
      background-color: #3a3b3c;
      padding: 5px 20px;
      border-radius: 15px;
      position: absolute;
      top: -47px;
      opacity: 0;
      user-select: none;
      pointer-events: none;
      transition: opacity 300ms linear;
      &.show {
        opacity: 1;
        pointer-events: all;
      }
      img {
        transition: all 300ms linear;
        cursor: pointer;
        &:hover {
          scale: 1.2;
        }
      }
    }
  }
  .comments-section {
    padding: 20px 0;
    width: 90%;
    margin: 0 auto;
    display: none;
    &.show {
      display: block;
    }
    .new-comment {
      display: flex;
      gap: 10px;
      input {
        border-radius: 20px;
        padding: 0 15px;
        width: calc(100% - 10px - 52px);
        background-color: rgba(227, 227, 227, 0.1) !important;
        color: #e4e6eb !important;
        border: none;
        outline: none;
      }
    }
    .comments {
      margin-top: 40px;
      max-height: 178px;
      overflow: auto;
      padding-bottom: 30px;
      width: 100%;
      .comment-container {
        position: relative;
        width: fit-content;
        svg {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        .comment {
          display: flex;
          gap: 10px;
          .comment-content {
            background-color: #373839;
            max-width: calc(100% - 40px) !important;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 0 7px 7px;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 0px;
              height: 0px;
              top: 0px;
              left: -15px;
              border-width: 10px;
              border-style: solid;
              border-color: transparent #373839 transparent transparent;
            }
            h4 {
              font-size: 16px;
              color: #e4e6eb;
            }
            p {
              color: #e4e6eb;
            }
          }
        }
      }
    }
  }
}
