.sidebar {
  height: calc(100vh - 68px);
  width: 300px;
  padding: 20px 10px;
  position: fixed;
  top: 68px;
  .sidebar-item {
    display: flex;
    padding: 10px 5px;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    width: 100%;
    &.home {
      img {
        border-radius: 0;
      }
    }
    @media (max-width: 1041px) {
      width: 100%;
    }
    &.see-all {
      img {
        border-radius: 0 !important;
      }
    }
    p {
      font-weight: 500;
      font-size: 15px;
      @media (max-width: 1041px) {
        display: none;
      }
    }
    svg {
      fill: hsl(214, 89%, 52%) !important;
      width: 24px !important;
      height: 24px !important;
      user-select: none;
      @media (max-width: 1041px) {
        width: 100%;
        height: 100%;
      }
    }
    img {
      border-radius: 50%;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      user-select: none;
    }
    &:hover {
      background-color: #ddd;
    }
  }
  .sidebar-section {
    position: relative;
    margin-bottom: 20px;
    &.copyright {
      display: flex;
      align-items: end;
      height: calc(90% - 308px);
      &::after {
        content: "";
        height: 0;
        width: 0;
      }
      @media (max-width: 1041px) {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      // left: 15px;
      height: 1px;
      width: 100%;
      background-color: rgba(71, 71, 71, 0.514);
    }

    @media (max-width: 1041px) {
      width: 40px;
    }
  }
}
