@import "@shopify/polaris/build/esm/styles.css";
@import "./global";
@import "./login-register.scss";
@import "./navbar.scss";
@import "./sidebar.scss";
@import "./post.scss";
@import "./modal.scss";

.page {
  top: 68px;
  position: fixed;
  width: 100%;
  z-index: 1000000012;
  .content {
    position: fixed;
    left: 300px;
    top: 68px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    .post-container {
      width: fit-content;
      padding-bottom: 100px;
    }
    .create-post {
      width: 494px;
      border: 1px solid rgba(100, 100, 100, 0.411);
      background-color: white;
      // min-height: 100px;
      margin: 40px;
      padding: 10px;
      border-radius: 5px;
      .create-post__header {
        img {
          width: 40px;
          height: 40px;
          border-radius: 50px;
          margin-right: 20px;
        }
        button {
          width: 80%;
          height: 30px;
          background-color: #f0f2f5;
          color: #65676b;
          border: none;
          border-radius: 50px;
          padding: 0 10px;
          text-align: left;
          &:active {
            background-color: darken(#f0f2f5, 10%);
          }
        }
      }
    }
  }
}
